{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/static/images/icon.png" type="image/png" sizes="160x160">
<link rel="apple-touch-icon" href="/static/images/apple-icon.png" sizes="160x160">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>
      Billing SOftware
    </title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    {% include 'admin_nav.html' %}
<br><br><br>

      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">Edit Item</h1>


          </div>
        </div>
      </div>
    </div>
	<!-- end header -->
<div class="background-container"></div>
    <div class="content">
    <div id="consignmentForm" class="container">
        <form method="post">
            {% csrf_token %}
            <p style="color:red;text-align:center;font-size:22px;font-weight:bold">{{msg}}</p>


            <div class="row">
                <div class="col-md-6">
                    <label for="itemname">Item Name:</label>
                    <input type="text" id="itemname" name="itemname" value="{{data.itemname}}" class="form-control" required>
                </div>
              <div class="col-md-6">
                    <label for="hsncode">HSN Code.:</label>
                    <input type="text" id="hsncode" name="hsncode" value="{{data.hsncode}}" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="price">Price:</label>
                    <input type="tel" id="price" name="price" value="{{data.price}}" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="stock"> Stock:</label>
                    <input type="text" id="stock" name="stock" value="{{data.stock}}" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="stock">Purchased Stock:</label>
                    <input type="text" id="purchasedstock" name="purchasedstock" value="{{data.purchasedstock}}" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="gst">GST:</label>
                    <input type="text" id="gst" name="gst" value="{{data.gst}}" oninput="calculateCGSTSGST()" class="form-control" required>
                </div>
            </div>
            <div class="row">


              <div class="col-md-6">
                    <label for="cgst">CGST:</label>
                    <input type="text" id="cgst" name="cgst" value="{{data.cgst}}" class="form-control" readonly>
                </div>
              <div class="col-md-6">
                    <label for="sgst">SGST:</label>
                    <input type="text" id="sgst" name="sgst" value="{{data.sgst}}" class="form-control" readonly>
                </div>

            </div>


            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
    <script>
    function calculateCGSTSGST() {
        const gstValue = parseFloat(document.getElementById("gst").value) || 0;
        const cgstSgstValue = gstValue / 2;

        document.getElementById("cgst").value = cgstSgstValue.toFixed(2);
        document.getElementById("sgst").value = cgstSgstValue.toFixed(2);
    }
</script>
	<div class="row mt-5">
          <div class="col-12 text-center">
            <!--
              **==========
              NOTE:
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/
              **==========
            -->



          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>

